html,body {
    display: flex;
    justify-content: center;
    height: 
    11050px;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
}

.content {
    background-color: white;
    width: 1440px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.hr {
    width: 1222px;
    height: 1px;
    background-color: #CACACA;
    margin: 141px auto;
}

.centered {
    display: flex;
    justify-content: center;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1222px;
    height: 56px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Починаеється Футер */

.navbar-right {
    display: flex;
    justify-content: space-between;
    width: 711px;
}

.navbar-right > * {
    display: flex;
}

.navbar-buttons {
    justify-content: space-between;
    width: 294px;
    height: 56px;
}

.navbar-button-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 162px;
    height: 56px;
    border: solid 2px #EDEDED;
    border-radius: 12px;
    background-color: white;
    font-size: 16px;
    color: black;

}

.navbar-button-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 114px;
    height: 56px;
    border-radius: 12px;
    background-color: #FF5634;
    border: none;
    font-size: 16px;
    color: white;
}

.navbar-links {
    align-items: center;
}

.navbar-links-left {
    display: flex;
    justify-content: space-evenly;
    width: 317px;
}

.navbar-links-right {
    display: flex;
    align-items: center;
    width: 85px;
    margin-left: 15px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 912px;
}



.header-content {
    display: flex;
    align-items: center;
    width: 1222px;
    height: 710px;
}

.header-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 586px;
    height: 586px;
    display: flex;
    flex-direction: column;

}

.header-text-buttons {
    display: flex;
    width: 586px;
    height: 73px;
}

.header-button-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 247px;
    height: 73px;
    border-radius: 12px;
    background-color: #FF5634;
    border: none;
    font-size: 16px;
    color: white;
}

.header-button-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 205px;
    height: 73px;
    border: solid 2px #EDEDED;
    border-radius: 12px;
    background-color: white;
    font-size: 16px;
    color: black;
    margin-left: 30px;
}

.header-stats {
    display: flex;
    justify-content: space-between;
    width: 586px;
    height: 91px;
}

.header-stats-box {
    height: 91px;
}

.header-food {
    position: relative;
    top: -746px;
    left: 718px;
}

.header-phone {
    position: relative;
    top: -1600px;
    left: 600px;
}

.trusted-restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.system-text {
    margin-bottom: 76px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.system {
    display: flex;
    width: 1222px;
    margin: auto;
    justify-content: space-between;
}

.system-component {
    width: 350px;
    height: 430px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.system-component-image {
    display: flex;
    margin: auto;
}

.system-buttons {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 473px;
    height: 73px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.system-button-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 247px;
    height: 73px;
    border-radius: 12px;
    background-color: #FF5634;
    border: none;
    font-size: 16px;
    color: white;
}

.system-button-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 205px;
    height: 73px;
    border: solid 2px #EDEDED;
    border-radius: 12px;
    background-color: white;
    font-size: 16px;
    color: black;
    margin-left: 30px;
}

.1 {
    display: flex;
    justify-self: start;

}

.2 {

}

.3 {

}